:root {
    --background-color: #f0e6d6;
    --header-background-color: #8a9db8;
    --button-background-color: #f0e6d6;
    --button-hover-color: #d4c4a8;
    --white-color: #ffffff;
    --text-color: #000000;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --textbg: #e6ddc7;
}